.main{
	max-width:950px;
}
.button{
	border-radius:5px;
	a{
		text-align:left;
		font-size: 17px;
		font-weight:bold;
		padding:15px 0 15px 20px;
		&:after{
			background:url("../images/layout/blank-icon-desktop.png") no-repeat 0 0;
			width:16px;
			height:16px;
			position:relative;
			margin-left:10px;
			top:2px;
			left:0;
			bottom:0;
			right:0;
		}
	}

}
.slider-wrapper2{
	display:none;
}


/* HEADER */

.hidden-block-wrapper{
	display:none;
}
.page-header {
	overflow:auto;
	.logo{
		float:left;
	}
	p{
		margin: 0 0;
		padding: 0 0;
	}
	.site-name, .user-country, .login-link, .contact-link, .tel{
		float:left;
		text-transform:capitalize;
		display:block;
		font-size:14px;
		font-weight: bold;
	}
	.site-name{
		margin-top:10px;
	}
	.user-country{
		position:relative;
		left:266px;
	}
	.login-link,.contact-link{
		color:black;
		text-decoration:none;
		&:hover{
			text-decoration:underline;
		}
	}
	.login-link{
		position:relative;
		left:281px;
	}
	.contact-link{
		margin:20px 0 0 15px;
	}
	.tel{
		margin:20px 0 0 60px;
	}
	.search-desktop{
		display:block;
		float:right;
		margin-top:10px;
		max-width:175px;
		input[type="text"]{
			max-width:130px;
			border:none;
			outline:none;
			background:#d6d6d6;
			border-radius:5px;
			height:20px;
			padding:0 20px 0 5px;
		}
		input[type="button"]{
			border:none;
			outline:none;
			position:relative;
			right:20px;
			background:#d6d6d6;
			cursor:pointer;
		}
	}
	.main-navigation {
		display: block;
		position: absolute;
		top: 67px;
		border-radius: 5px;
		li {
			float: left;
			background: url("../images/layout/main-menu-bg-repeat-x.png") repeat-x 0 0;
			&:first-child {
				border-radius: 5px 0 0 11px;
			}
			&:last-child {
				border-radius: 0 5px 11px 0;
			}
			&:hover {
				background: url("../images/layout/main-menu-hover-bg-repeat-x.png") repeat-x 0 0;
			}
			&:after {
				content: '';
				float: left;
				width: 1px;
				height: 64px;
				border-right: 1px solid #e2e2e2;
			}
			&:last-child:after {
				border: none;
			}

			a {
				float: left;
				text-decoration: none;
				color: black;
				text-transform: capitalize;
				font-weight: bold;
				padding: 25px 55px;

				&:hover {
					color: white;
				}
			}
		}
	}
	.fix-navigation-desktop {
		position: fixed;
		top: 5px;
		z-index: 10;
		width: 100%;
	}

	/* authorization-form */

	.authorization-form{
		position:absolute;
		z-index:1;
		top:100px;
		left:33%;
		width: 450px;
		height: 250px;
		background:white;
		border:2px solid lightslategray;
		border-radius:3px;
		padding:40px 20px;
		-webkit-box-shadow: 0px 0px 0px 500px rgba(255,255,255,0.74);
		-moz-box-shadow: 0px 0px 0px 500px rgba(255,255,255,0.74);
		box-shadow: 0px 0px 0px 500px rgba(255,255,255,0.74);
		form{
			text-align:center;
			p{
				float:none;
				padding-left:2px;
				margin-bottom:5px;
				text-transform: capitalize;
				margin-top:15px;
			}
			input[type="button"]{
				display:block;
				background: #00a1e4;
				color:white;
				border:none;
				outline:none;
				padding:10px 65px;
				border-radius:5px;
				font-size: 16px;
				font-weight:bold;
				margin: 15px auto 0;
				&:hover{
					background: @button-color-active;
				}
			}
			.close-auth-form{
				position:absolute;
				top:10px;
				left:440px;
				display:block;
				width:32px;
				height:31px;
				background: url("../images/layout/close-icon.png") no-repeat 0 0;
				&:hover{
					opacity:0.5;
				}
			}
			input[type="text"],input[type="password"]{
				width:100%;
				height:30px;
				border-radius:5px;
				outline:none;
				text-align:center;
				font-size: 17px;
				&:focus{
					border:2px solid #00a1e4;
				}
			}
			.error-valid{
				input{
					border:2px solid indianred;
				}
				.error-message{
					color: indianred;
				}
			}
		}
	}
}


/* PARTNERS */

.for-partners {
	background: url("../images/layout/partners-bg-desktop.jpg") repeat-y center top;
	padding:117px 0 0 0;
	.info-about-partners {
		.partners-description {
			margin-bottom: 25px;
		}
	}
}


/* ABOUT COMPANY */

.about-company{
	margin-top:40px;
	overflow:hidden;

	.breif-info{
		padding: 0 0;
		float:left;
		max-width:425px;
		margin-bottom:96px;
		h1{

		}
	}
	.review-about-us{
		background: white;
		padding: 0 0;
		//margin-left:60px;
		float:right;
		max-width:445px;
		margin-bottom:65px;

		p{
			max-width:355px;
			padding: 0 0 0 30px;
		}
		footer{
			text-align:left;
		}
	}
}
.slider-wrapper1{
	text-align:center;
	margin-bottom:65px;
}
.perfomance-block{
	margin: 0 57px;
	padding: 0 0 ;
	display:inline-block;
	max-width: 215px;
	max-height: 330px;
	.more-perfomance-info{
		display:none;
	}
	&:first-child{
		margin-left:0;
	}
	&:last-child{
		margin-right:0;
	}
}


/* OUR OFFER */

.our-offer {
	padding: 25px 30px 0px;
	text-align:center;
	background: url("../images/layout/our-offer-bg-desktop.jpg") no-repeat center top;
	.main{
		border-bottom:1px solid #ebebeb;
	}

	.offer-block {
		text-align: left;
		max-width: 365px;
		display: inline-block;

		&:first-child {
			margin-right: 66px;
		}

		.offer-block-header {
			padding: 25px 56px 25px 38px;

			h1 {
				display: inline-block;
				width: 100%
			}
			h2 {
				display: inline-block;
				margin-bottom: 25px;
				font-weight: normal;
			}
			h3 {
				margin-bottom: 20px;
				color: #f0ab00;
			}
			p {

			}
		}

		.offer-block-footer {
			padding: 25px 56px 25px 38px;
			background: black;

			h1 {
				color: #f0ab00;
				margin-bottom: 20px;
			}
			p {
				color: white;
			}
		}
		.button {
			max-width: 215px;
			position: relative;
			left: 165px;
			top: -15px;
		}
	}
}


/* OUR PARTNERS */

/* switcher */
.switcher {
	display:inline-block;
	width:200px;
	height:50px;
	float:right;
	margin-top:85px;

	p{
		font-weight:bold;
		color:#f0ab00;
		display:inline-block;
	}
	.checkbox {
		vertical-align: top;
		margin: 0 3px 0 0;
		width: 17px;
		height: 17px;
	}

	.checkbox + label {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor: pointer;
	}
	.checkbox:not(checked) {
		position: absolute;
		opacity: 0;
	}
	.checkbox:not(checked) + label {
		position: relative;
		padding: 0 0px 0 60px;
		color:#00a1e4;
		font-weight: bold;
	}
	.checkbox:not(checked) + label:before {
		content: '';
		position: absolute;
		top: -4px;
		left: 0;
		width: 50px;
		height: 26px;
		border-radius: 13px;
		background: #f0ab00;
		box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
	}
	.checkbox:not(checked) + label:after {
		content: '';
		position: absolute;
		top: -2px;
		left: 2px;
		width: 22px;
		height: 22px;
		border-radius: 10px;
		background: #FFF;
		box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
		transition: all .2s;
	}
	.checkbox:checked + label:before {
		background: #00a1e4;
	}
	.checkbox:checked + label:after {
		left: 26px;
	}
}
/* !swither */



.our-partners{
	.header-our-partners {
		display:inline-block;
		padding: 75px 0 55px;
	}

	.partners-tabs{
		display:block;

		.tabs-navigation{
			float:left;
			list-style-type: none;

			.tab-item{
				float:left;

				.tab-link{
					float:left;
					color:black;
					font-weight:bold;
					padding: 15px 20px;
					text-transform:capitalize;
					text-decoration:none;
				}
			}
			.active-tab{
				.tab-link {
					background: #f0ab00;
					color: white;
				}
			}
		}
	}


	/* ng-view */


	.tab-content{
		display:block;
		margin-top:65px;
		background: #f1f1f1;


		.slider-wrap{
			max-width:950px;
			margin:0 auto ;
			padding:20px 0 30px;
			position:relative;

			&:before, &:after{
				content:'';
				display:block;
				width:19px;
				height:36px;
				position: absolute;
				top:100px;

			}
			&:before{
				background:url('../images/layout/left-control.png');
				left:-35px;
			}
			&:after{
				background:url('../images/layout/right-control.png');
				right:-30px;
			}
		}

		.partner-slider-item{
			display:inline-block;
			padding:2px 17px 8px;
			width:146px; //180-17-17
			height:200px; //210-8-2
			background:rgb(253,253,253);
			-webkit-box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.4);
			-moz-box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.4);
			box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.4);
			margin-left:7px;
			&:first-child{
				margin-left:0;
			}

			.partner-logo{
				text-align:center;
				line-height:1;
				min-height: 94px; //if small image
				img{
					max-width:135px;
					max-height:94px;
				}
			}
			h1{
				font-size: 14px;
			}
			p{
				font-size: 14px;
			}
			.partner-slider-item-footer{
				border-top: 1px solid #cacaca;
				padding-top:10px;
				margin-top:10px;
				input[type="button"]{
					color:#25a7e3;
					font-weight: bold;
					background:none;
					border:none;
					outline:none;
					cursor:pointer;
				}
				.get-video{
					float:right;
					width:17px;
					height:17px;
					background:url("../images/layout/video-icon.png")no-repeat 0 0;
					margin-left: 8px;
				}
				.get-comments-form{
					float:right;
					width:18px;
					height:17px;
					background:url("../images/layout/comment-icon.png")no-repeat 0 0;
				}

			}
		}

		/* more-info-partner */

		.more-info-about-partner{
			margin-top:50px;
			max-height:300px;
			background:white;
			position:relative;
			&:after{
				content:'';
				bottom: 100%;
				border:13px solid white;
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(255, 255, 255, 0);
				border-bottom-color: #ffffff;
				margin-left: -13px;
			}
			.partner-description{
				padding:35px 40px 90px 50px;
				display: inline-block;
				width:385px; //475 - 40 - 50
				height:175px; //300 - 125
				h1{
					font-size: 30px;
					font-weight:normal;
					padding-right:100px;
					margin-bottom:26px;
				}
				h2{
					font-size: 19px;
					margin-bottom:15px;
				}
				p{
					font-size:17px;
					line-height:1.24;
				}
			}

			img{
				display:block;
				float:right;
				position:relative;
				top:0;
				width:475px;
				height:300px;
			}
		}
		.c-ibm{
			&:after{
				left:10%;
			}
		}
		.c-hp{
			&:after{
				left:30%;
			}
		}
		.c-cisco{
			&:after{
				left:50%;
			}
		}
		.c-sas{
			&:after{
				left:70%;
			}
		}
		.c-dell{
			&:after{
				left:90%;
			}
		}


	}

}

/* INFORMATION BLOCK*/


.information-block{
	margin-bottom:65px;
	.main{
		padding:0 0;
	}

	h1{
		float:left;
		height:85px;
		max-width:210px;
		padding-top:15px;
		border-left: 20px #f1ab00 solid;
	}
	p{
		float:left;
		margin: 27px 50px 0 40px;
		display:inline-block;
		max-width:290px;
	}
	.button{
		margin-top:27px;
		max-width:305px;
		width:auto;
	}
}


/* FEEDBACK */

.feedback {
	li{
		p{
			display:block;
			max-width: 180px;
			height:36px;
			text-align:left;
			margin: 5px 0 0 107px;
		}
	}
	.email-info{
		border-right:1px solid #ebebeb;
		p{
			margin-left:117px;
		}
		.email-h-for-desktop{
			display:block;
		}
		.email-h-for-mobile{
			display:none;
		}
	}
	.expert-info{
		border-right:none;
		display: inline-block;
		h1 {
			&:before {
				display: inline-block;
				background: url("../images/layout/cloud-icon.png") no-repeat 0 0;
				height: 54px; //39px
				width: 39px;
				content: '';
				position: relative;
				top: 29px;
				left:-20px;
			}
		}
	}
	.expert-info, .tel-info, .email-info{
		width: 32.9%;
	}
}


/* FOOTER */

.page-footer{
	text-align:center;
	border-bottom:none;
	padding:35px 0 32px;
	.url-link{
		display:inline-block;
		width:auto;
		margin-right:30px;
	}
	.footer-nav{
		position:relative;
		top:5px;
		li{
			list-style:none;
			float:left;

		}

	}

}



/* -LIGHTBOX- */
/* Preload images */
.min-lightbox-img{
	text-decoration:none;
}
body:after {
	content: url('../images/layout/lightbox/close.png') url('../images/layout/lightbox/loading.gif') url('../images/layout/lightbox/prev.png') url('../images/layout/lightbox/next.png');
	display: none;
}

body.lb-disable-scrolling {
	overflow: hidden;
}

.lightboxOverlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: black;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	opacity: 0.8;
	display: none;
}

.lightbox {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 10000;
	text-align: center;
	line-height: 0;
	font-weight: normal;
}

.lightbox .lb-image {
	display: block;
	height: auto;
	max-width: inherit;
	border-radius: 3px;
}

.lightbox a img {
	border: none;
}

.lb-outerContainer {
	position: relative;
	background-color: white;
	*zoom: 1;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	border-radius: 4px;
}

.lb-outerContainer:after {
	content: "";
	display: table;
	clear: both;
}

.lb-container {
	padding: 4px;
}

.lb-loader {
	position: absolute;
	top: 43%;
	left: 0;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}

.lb-cancel {
	display: block;
	width: 32px;
	height: 32px;
	margin: 0 auto;
	background: url('../images/layout/lightbox/loading.gif') no-repeat;
}

.lb-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}

.lb-container > .nav {
	left: 0;
}

.lb-nav a {
	outline: none;
	background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
	height: 100%;
	cursor: pointer;
	display: block;
}

.lb-nav a.lb-prev {
	width: 34%;
	left: 0;
	float: left;
	background: url('../images/layout/lightbox/prev.png') left 48% no-repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

.lb-nav a.lb-next {
	width: 64%;
	right: 0;
	float: right;
	background: url('../images/layout/lightbox/next.png') right 48% no-repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

.lb-dataContainer {
	margin: 0 auto;
	padding-top: 5px;
	*zoom: 1;
	width: 100%;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
	content: "";
	display: table;
	clear: both;
}

.lb-data {
	padding: 0 4px;
	color: #ccc;
}

.lb-data .lb-details {
	width: 85%;
	float: left;
	text-align: left;
	line-height: 1.1em;
}

.lb-data .lb-caption {
	font-size: 13px;
	font-weight: bold;
	line-height: 1em;
}

.lb-data .lb-number {
	display: block;
	clear: left;
	padding-bottom: 1em;
	font-size: 12px;
	color: #999999;
}

.lb-data .lb-close {
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	background: url('../images/layout/lightbox/close.png') top right no-repeat;
	text-align: right;
	outline: none;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}
