<div class="tab-content">
    <div class="slider-wrap">
        <article class="partner-slider-item" >
            <div class="partner-logo">
                <img src="./images/content/ibm.jpg">
            </div>
            <h1>IBM</h1>
            <p>Lorem ipsum dolor sit amet nullam amen etqer dolor est...</p>
            <footer class="partner-slider-item-footer">
                <input class="moreless" id="p-ibm" type="button" value="more &#9660">
                <a class="get-video" href="#"></a>
                <a class="get-comments-form" href="#"></a>
            </footer>
        </article>

        <article class="partner-slider-item">
            <div class="partner-logo">
                <img src="./images/content/hp.jpg">
            </div>
            <h1>HP</h1>
            <p>Lorem ipsum dolor sit amet nullam amen etqer dolor est...</p>
            <footer class="partner-slider-item-footer">
                <input class="moreless" id="p-hp" type="button" value="more &#9660">
                <a class="get-video" href="#"></a>
            </footer>
        </article>

        <article class="partner-slider-item">
            <div class="partner-logo">
                <img src="./images/content/cisco.jpg">
            </div>
            <h1>Cisco</h1>
            <p>Lorem ipsum dolor sit amet nullam amen etqer dolor est...</p>
            <footer class="partner-slider-item-footer">
                <input class="moreless" id="p-cisco" type="button" value="more &#9660">
                <a class="get-video" href="#"></a>
                <a class="get-comments-form" href="#"></a>
            </footer>
        </article>

        <article class="partner-slider-item">
            <div class="partner-logo">
                <img src="./images/content/sas.jpg">
            </div>
            <h1>SAS</h1>
            <p>Lorem ipsum dolor sit amet nullam amen etqer dolor est...</p>
            <footer class="partner-slider-item-footer">
                <input class="moreless" id="p-sas" type="button" value="more &#9660">
                <a class="get-video" href="#"></a>
                <a class="get-comments-form" href="#"></a>
            </footer>
        </article>

        <article class="partner-slider-item">
            <div class="partner-logo">
                <img src="./images/content/dell.jpg">
            </div>
            <h1>Dell</h1>
            <p>Lorem ipsum dolor sit amet nullam amen etqer dolor est...</p>
            <footer class="partner-slider-item-footer">
                <input class="moreless" id="p-dell" type="button" value="more &#9660">
                <a class="get-video" href="#"></a>
            </footer>
        </article>

        <!-- MORE -->
        <article class="more-info-about-partner">
            <div class="partner-description">
                <h1>Please, close "less", thanks ;)</h1>
                <h2>Sublime text.</h2>
                <p>Caption text lorem ipsum dolor sit amet,
                    sectetuer adipiscing elit,
                    Sed diam nonummy nibh euismod tincidunt  laoreet dolore magna aliquam erat volutpat.
                </p>
            </div>
            <img class="partner-extra-img" src="./images/content/ibm-for-lb.jpg">
        </article>
    </div>
</div>