<div class="tab-content">
    <div class="main">
        <a class="min-lightbox-img" href="images/content/lightbox-img-1.jpg" data-lightbox="roadtrip" data-title="Image 1">
            <img class="example-image" src="images/content/lightbox-img-min-1.jpg" alt="hello world0">
        </a>
        <a class="min-lightbox-img" href="images/content/lightbox-img-2.jpg" data-lightbox="roadtrip" data-title="Image 2">
            <img class="example-image" src="images/content/lightbox-img-min-2.jpg" alt="hello world1">
        </a>
        <a class="min-lightbox-img" href="images/content/lightbox-img-3.jpg" data-lightbox="roadtrip" data-title="Image 3">
            <img class="example-image" src="images/content/lightbox-img-min-3.jpg" alt="hello world2">
        </a>
    </div>
</div>